<div class="container" ng-show="!user.authenticated" >
  <div class="alert alert-warning text-center" role="alert"><h3>You need to login</h3></div>
</div>

<div class="container" ng-show="user.authenticated" >
  <h1><span class="glyphicon glyphicon-file"></span> {{paper.title}}</h1>

  <div class="row voffset2">
    <div class="col-md-2">
      Author(s):
    </div>
    <div class="col-md-4 text-justify">
      <div ng-repeat="item in paper.authors">
        <a href="/speakers/{{item.author.userName}}">{{item.author.displayName}}</a>
      </div>
    </div>

  </div>

  <div class="row voffset2">
    <div class="col-md-2">
      Description:
    </div>
    <div class="col-md-10 text-justify">
      <pre>{{paper.description}}</pre>
    </div>
  </div>

  <div class="row voffset2" ng-show="paper.topics && paper.topics.length != 0" >
    <div class="col-md-2">
      Topics:
    </div>
    <div class="col-md-10">
      <span  ng-repeat="topic in paper.topics" >
        <span class="btn btn-default btn-xs" style="margin: 3px;" >{{ topic }}</span>
      </span>
    </div>
  </div>


  <div class="row voffset2" ng-show="paper.technologies && paper.technologies.length != 0" >
    <div class="col-md-2">
      Technologies:
    </div>
    <div class="col-md-10">
      <span  ng-repeat="technology in paper.technologies" >
        <span class="btn btn-default btn-xs" style="margin: 3px;" >{{ technology }}</span>
      </span>
    </div>
  </div>


  <div class="row voffset2" ng-show="paper.links && paper.links.length != 0">
    <div class="col-md-2">
      Links:
    </div>
    <div class="col-md-4 text-justify">
      <div ng-repeat="item in paper.links">
        <a ng-href="{{item.url}}" target="_blank">{{item.type}}</a>
      </div>
    </div>
  </div>


  <hr/>
  <div class="row voffset2">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
      <a type="button" class="btn btn-default btn-sm" ng-href="/#/papers/{{paper._id}}/edit">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
      </a>
    </div>
  </div>


  <div class="panel panel-default voffset3">
    <div class="panel-heading">Submissions</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 medium">
          <ul class="row" data-ng-repeat="subm in paper.submissions">
            <li>{{subm.conf_name}} ({{subm.year}}) by {{subm.author_name}} - {{subm.status}}</li>
          </ul>
        </div>
        <div class="text-right col-md-8" style="margin-top: 10px;">
          <a class="btn btn-warning" ng-click="addSubmission()" >
            <span class="glyphicon glyphicon-plus-sign"></span> Submit this paper to a conference...
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- modal -->
  <script type="text/ng-template" id="submissionModalForm.html" >
  <div class="modal-header">
    <h3 class="modal-title">Select your conference</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form">

    <div class="form-group">
      <label for="editedSubmission.conference" class="col-sm-3 control-label">Conference:</label>
      <div class="col-sm-9">
        <select ng-model="editedSubmission.conference" ng-options="value.name for value in conferences" class="form-control" required>
        </select>
      </div>
    </div>

    <div class="form-group">
    <label for="editedSubmission.year" class="col-sm-3 control-label">Title:</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="editedSubmission.year" ng-model="editedSubmission.year" placeholder="Year" required>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Status:</label>
    <div class="col-sm-9 ">
    <select required ng-model="editedSubmission.status" ng-options="value._id as value.label for value in paperStatus" class="form-control" >
    </select>
    </div>
    </div>


    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!-- /modal -->


</div>
