<div class="container" >
  <div class="row">
    <div class="col-md-9">
      <h1><span class="glyphicon glyphicon-leaf"></span> Events</h1>
    </div>

    <div class="col-md-3 text-right" ng-click="alert(2)">
        <button  class="glyphicon glyphicon-question-sign" ></button>
    </div>

  </div>
  <div data-ng-controller="ConferencesListCtrl">
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4 input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input class="form-control" data-ng-model="searchQuery" data-ng-change="search()" placeholder="search text ...">
      </div>

      <input type="checkbox" ng-model="advanced" /> Advanced

    </div>


    <div class="row text-center voffset2" ng-show="advanced">
      <label for="country" class="col-md-2  col-md-offset-2  control-label">Country:</label>
      <div class="col-sm-4">
        <select ng-model="country" ng-options="value.name as value.name for value in countries" class="form-control" data-ng-change="search()" required>
        </select>
      </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
      <a class="btn btn-warning" href="#/conferences/create">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Conference ...
      </a>
    </div>

    <table class="table table-striped table-condensed table-hover" style="margin-top: 40px;">
      <thead>
        <tr>
          <th>Conference</th>
          <th>Country</th>
          <th>CFP Date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody data-link="row" class="rowlink">
        <tr data-ng-repeat="conf in items">
          <td>
            <a ng-href="#/conferences/{{conf._id}}">{{conf.name}}</a>
          </td>
          <td>{{conf.country}}</td>
          <td>
            <a ng-href="{{conf.cfp.link}}" target="_blank"  ng-show="inTheFuture(conf.cfp.end_date)">
              {{conf.cfp.end_date}}
            </a>
          </td>

          <td>
            <div ng-show="conf.nb_of_comments != 0" >
              <span class="glyphicon glyphicon-star" ng-repeat="i in range ( conf.total_votes / (conf.nb_of_comments==0?1:conf.nb_of_comments) ) track by $index" ></span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
